/* font and colour only*/
body{
  background: #E3EFF3;
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

h1{
font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  color: #C62727;
  font-weight: bold;
  font-size: 20px;
}

p {
  padding-bottom: 10px;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* custom design*/
#header {
background-image:url("https://unsplash.it/1000/600/?random");
background-size: cover;
padding: 150px 0;
text-align: center;
color: white;

}

#footer {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: #432160;
  border-style: dotted;
  border-radius: 4px;
}

.card {
  border-style: solid;
  border-color: blue;
  border-width: lighter;
  border-radius: 5px;
  padding: 10px;
  margin: 100px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-align: left;
}

