/* font and colour only*/
body{
  background: #E3EFF3;
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

h1{
font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  color: #C62727;
  font-weight: bold;
  font-size: 20px;
}

p {
  padding-bottom: 10px;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* custom design*/
#header {
background-image:url("https://unsplash.it/1000/600/?random");
background-size: cover;
padding: 150px 0;
text-align: center;
color: white;

}

#footer {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 1px;
  font-size: 12px;
  text-align: center;
  background-color: #143A52;
  border-style: lighter;
  border-color: #143A52;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  border: 2px solid #143A52;
  margin-top: 4px;
  padding: 30px ;
  text-align: center;
  width: 500px;
}

