/* font and colour only*/
body{
  background: #FFCEF3;
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

h1{
font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}

h2 {

  color: #C62727;
  font-weight: bold;
  font-size: 20px;

}

a {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* custom design*/
#header {
background-image:url("https://unsplash.it/1000/600/?random");
background-size: cover;
padding: 150px 0;
text-align: center;
color: white;

}

#footer {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: #432160;
  border-style: dotted;
  border-radius: 4px;
}

