/* font and colour only*/
body{
  background: #E3EFF3;
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}


h1{
font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 50px;
}

h2 {
  color: #C62727;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

p {
  padding-bottom: 10px;
  font-size: 20px;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* custom design*/
#header {
background-image:url("https://unsplash.it/1000/600/?random");
background-size: cover;
padding: 150px 0;
text-align: -webkit-center;
}

#buttons {
  display: inline-block;
}



  .avatar-small {
  width: 80px;
  border-radius: 40%;
  }


.card {
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  border: 2px solid #143A52;
  margin-top: 4px;
  padding: 30px ;
  text-align: center;
}

.card:hover {
  background-color: #163172;
  color: #E7E9DE;
}

.btn-treehouse {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-medium {
  color: white;
  border: 2px solid #3c5a99;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.9;
  background: #3c5a99;
  text-decoration: none;

}

.btn-medium:hover {
  text-decoration: underline;
  color: white;
}




/*test messages et navbar */

/*begin css msg*/
.message {
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(220,224,244,0.4);
    background-color: beige;
    display: inline-flex;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  margin: 1px 50px;

}

.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
  font-size: 13px;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
/* end css pour msg*/



/* Begin css nav bar */
/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  border-radius: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
/* End css nav bar */


/* footer wagpn */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}





